<%= render "header/header" %>
<h1 class="display-1 text-center mt-5 mb-5" style="font-weight:100;color:#e3c82e"><span style="color: #fff;">gossip</span> project</h1>

<div class="container">
<div class="card-row">
    <div class="p3">
      <div class="card text-white" style="background-color: #ffffff2b;">
        <div class="card-body">
          <p class="card-title" style="font-weight:200;color:#fff">from <span style="font-weight:500;color:#e3c82e">Prénom</span>    <a href="/author/userid" class="badge badge-success">view profile</a></p>
          <h5 class="card-title">TITLE</h5>
          <p class="card-text">CONTENT</p>
      </div>
    <div class="card-footer text-center" style="background-color: #ffffff1a;">
      <small class="text-muted">Created at 000000000</small>
    </div>
    </div>
</div>