<h1 class="display-1 text-center mt-5 mb-5" style="font-weight:100;color:#e3c82e"><span style="color: #fff;">gossip</span> team</h1>

<p class="text-center"  style="color:#fff">Day <span style="color: #e3c82e;">SY</span></p>
<p class="text-center"  style="color:#fff">Romain <span style="color: #e3c82e;">SPYCHALA</span></p>
<p class="text-center"  style="color:#fff">Rick <span style="color: #e3c82e;">ASTLEY</span></p>