<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <%= link_to "Contact", contact_path, class:"nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Team", team_path, class:"nav-link" %>
      </li>
    </ul>
  </div>
</nav>
<h1 class="display-1 text-center mt-5 mb-5 text-warning">The Gossip Project</h1>