
<%= render "header/header" %>
<h1 class="text-center text-warning m-5 display-4">Comment nous contacter ?</h1>
<p class="text-center text-warning">Envoyez nous un mail <a href="mailto:oui@gmail.com", class="text-warning">ici</a></p>