<%= render "header/header" %>
<h1 class="display-1 text-center mt-5 mb-5" style="font-weight:100;color:#e3c82e"><span style="color: #fff;">contact</span> us</h1>
<p class="text-center"><%= mail_to "adresse@bidon.fr", "Click here to send an email", class: "text-white" %></p>