<footer class="footer border-top mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <span class="text-muted">gossip project &copy; 2021</span>
      </div>
    </div>
  </div>
</footer>