<div class="form mx-auto mt-5">
<h1 class="h3 mb-3 font-weight-normal Gyellow text-center">Please gossip in</h1>
<%= form_with model: @gossip, class:"form-signin text-center" do |form| %>
	<%= form.text_field :title, placeholder: 'Title', class:"form-control" %>

	<%= form.text_area :content, placeholder: 'Gossip content', class:"form-control mt-2" %>

	<%= form.submit "Create a gossip", class:"btn btn-warning mt-3"%>
<% end %>
</div>
