<nav class="navbar navbar-expand-lg navbar-light bg-light" >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <a class="nav-link" href="/" style="font-weight:200;color:#e3c82e">gossip <span style="color:#000">project</span><span class="sr-only">(current)</span></a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
      <%= link_to "contact", contact_path, class:"nav-link font-weight-light" %>
      </li>
      <li class="nav-item">
      <%= link_to "team", team_path, class:"nav-link font-weight-light" %>
      </li>
    </ul>
    <%= link_to "Create a Gossip", new_gossip_path, class:"btn btn-warning" %>
  </div>
</div>
</nav>

<!-- style="position: fixed;top: 0;width: 100%;z-index: 3;" -->